<p id="notice"><%= notice %></p>

<h3> Search by ingredient: </h3>
<%= form_with(model: @product, method: :get) do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :search, params[:search] => 'init'%>
  <%= form.submit "Search" %>
  <% end %>
  
<h1>Products</h1>

<% if @products %>
<p> Number of products: <%= @products.count %>
  <% end %>
  
<table>
  <thead>
    <tr>
        <td>Brand</td>
        <td>Ingredients</td>
        <td>Calories Per can</td>
      <!-- <th colspan="4"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to "#{product.brand}", product.url %></td>
        <td><%= product.ingredients%></td>
        <td><%= product.caloriespercan%></td>

      </tr>
    <% end %>
  </tbody>
</table>

        <%# <td><%= link_to 'Show', product %></td> -->%>
        <%# <td><%= link_to 'Edit', edit_product_path(product) %></td> -->%>
        <%# <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> 

<br>

<%# = link_to 'New Product', new_product_path %>

<style>
th, td {
border: 1px solid black;
}
</style>
