<p id="notice"><%= notice %></p>

<h3> Search by ingredient: </h3>
<%= form_with(model: @product, method: :get) do |form| %>
  <%= form.label :query, "Contains:" %>
  <%= form.text_field :ingredientsyes, value: params[:ingredientsyes] %>
  <%= form.label :query, "Contains no:" %>
  <%= form.text_field :ingredientsno, value: params[:ingredientsno] %>
  <br>
    <%= form.submit "Search" %>
  <% end %>


  <p> Searching for (<%= params[:ingredientsyes] %>) and no (<%= params[:ingredientsno] %>)

<%= form_with(model: @product, method: :get) do |form| %>
  <%= form.submit "Reset" %>
  <% end %>

<h1>Products</h1>

<% if @product_search %>
<p> Number of products: <%= @product_search.count %>
  <% end %>
  
<table>
  <thead>
    <tr>
        <td>Brand</td>
        <td>Product</td>
        <td>Ingredients</td>
        <td>Calories Per can</td>
      <!-- <th colspan="4"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @product_search.each do |oneproduct| %>
      <tr>
        <td><%= oneproduct.brand %></td>
        <td><%= link_to "#{oneproduct.product_name}", oneproduct.url %></td>
        <td><%= oneproduct.ingredients%></td>
        <td><%= oneproduct.caloriespercan%></td>

      </tr>
    <% end %>
  </tbody>
</table>

        

<br>

<%# = link_to 'New Product', new_product_path %>

<style>
th, td {
border: 1px solid black;
}
</style>
